

header div img{
    float: left;

margin-bottom: 300px;

}
header div{
    float: left;
    margin-top: 30px;
    margin-left: 150px;

}

header div  h1{
    font-family: 'Dancing Script', cursive;
    display: inline;
    font-size: 26px;
    margin-left: 19px;
}
h5{
    font-size: 11px;
    width: 238px;
    color: gray;
    margin-top: 8px;
    margin-left: 56px;
}



.one{
float: right;
margin-right: 150px;
}


.left {
   float: left;
   margin-left: 150px;
   margin-top: -136px;
}
section article div h1{
    font-family: 'Anton', sans-serif;
    font-size: 39px;

}


section article div h1 h3{
    color: lightgray;
    margin-bottom: 20px;
}


#img2{
    width: 1049px;
}
 .left p{
    line-height: 33px;
    width: 1049px;
    margin-top: 32px;
    margin-bottom: 20px;
    color: gray;
    
    font-size: 20px;
 }


#e{
    position: absolute;
    margin-top: 142px;
  
    margin-left: -316px;
    width: 1111px;
}

.checkboxa{
   
    margin-left: 150px;
    position: absolute;
    bottom: 80px;
    left: 106px;
    line-height: 33px;
    font-size: 20px;
    color: rgb(61, 57, 57);
}
.checkboxb{
    float: right;
    margin-right: 150px;
    position: absolute;
    bottom: 81px;
    right: 95px;
    line-height: 33px;
    font-size: 20px;
    color: rgb(61, 57, 57);

}
.div{
position: relative;
   

}

#img3 {
    margin-left: 145px;
}
#img5{
    float: left;
    margin-left: 150px;
    margin-top: 53px;

}
button{
    float: right;
    border: solid;
    background-color: rgba(231, 85, 41, 0.719);
    color: white;
    position: absolute;
    right: 240px;
    padding: 30px;
    
    margin-top: 57px;

}

.p5{
    float: right;
    margin-right: 468px;
    margin-top: 9px;
}

#copy{
    float: left;
    text-align: center;
    margin-left: 360px;
   
    padding-bottom: 200px;
    margin-top: 129px;
    color: gray
}
.p5 h2{
    font-size: 20px;
    margin-bottom: 14px;
    color: #565555;
    font-style: revert;
}
footer{
    height: 500px;
}